---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

interface Data {
  id: string;
  title: string;
  description: string;
  date: string;
  tech: string;
  image: string;
}

const entries = await getCollection("projects");
entries.sort((a, b) => {
  return a.data.sortOrder - b.data.sortOrder;
});
---

<Layout title="Léo Mindlin">
  <main class="sm:max-w-md sm:min-w-[28rem] w-full space-y-4 pb-10">
    <h1 class="text-4xl">Léo Mindlin</h1>
    <p>
      Undergaduate student at <a target="_blank" href="https://www.mcgill.ca/"
        >McGill University</a
      > studying software engineering in the <a
        target="_blank"
        href="https://www.mcgill.ca/ece/undergrad/information/software-engineering-co-op"
        >Co-op Program</a
      >. Originally from sunny Santa Monica, California.
    </p>
    <p>
      Interested in web development, native iOS development, graphics
      programming, smart home automation, and the Internet of Things.
    </p>
    <p>
      I'm currently making projects with <a
        target="_blank"
        href="https://www.swift.org/">Swift</a
      >, <a target="_blank" href="https://developer.apple.com/xcode/swiftui/"
        >SwiftUI</a
      >, <a target="_blank" href="https://nextjs.org/">Next.JS</a>, <a
        href="https://astro.build/"
        target="_blank">Astro</a
      >, and <a href="https://neovim.io/" target="_blank">NeoVim</a>. I also
      enjoy using Blender, Final Cut, Photoshop, and After Effects.
    </p>

    <hr />

    <h2 class="text-3xl">My Work</h2>

    <div class="w-full">
      {
        entries.map((entry) => (
          <a
            id={entry.id}
            href={
              entry.data.relatedArticle
                ? `/article/${entry.data.relatedArticle.slug}`
                : `/project/${entry.slug}`
            }
            class="tr border-t first:border-none align-top py-3 flex flex-row gap-2"
            hx-get={`/partials/project/${entry.slug}`}
            hx-trigger="mouseenter, focus"
            hx-target="#preview-container"
            hx-swap="innerHTML"
            hx-sync="this:replace"
          >
            <div class="">{entry.data.year}</div>
            <div class="w-full">{entry.data.title}</div>
            {/* <td class="text-right py-3">{entry.tech}</td> */}
          </a>
        ))
      }
    </div>
    <hr />
    <h2 id="contact" class="text-3xl">Contact</h2>
    <p>Feel free to reach out for any inquiries or connections.</p>
    <ul class="space-y-1">
      <li>Email: <a href="mailto:leo@mindlin.xyz">leo@mindlin.xyz</a></li>
      <li>
        Twitter: <a target="_blank" href="http://x.com/mindlin_xyz"
          >@mindlin_xyz</a
        >
      </li>
      <li>
        LinkedIn: <a
          target="_blank"
          href="https://www.linkedin.com/in/leo-mindlin">Léo Mindlin</a
        >
      </li>
    </ul>
  </main>

  <div id="preview-container" class="w-full md:block hidden"></div>
</Layout>
